@import "src/assets/scss/constants";

.navlink {
  display: flex;
  align-items: center;

  padding: 10px 20px;
  border-bottom: 1px solid #C4C4C4;

  svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &:hover {
    background: #3c4352;
  }
}
