@import "src/assets/scss/constants";

.text {
  color: $green_dark;
  -webkit-text-stroke: 1px $blue_dark;
  text-transform: uppercase;
  font-size: 32px;

  font-family: 'Istok Web', serif;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}

.button {
  margin-bottom: 20px;
}
