.customModal {
  overflow: initial;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

.close {
  position: absolute;
  bottom: calc(100% - 2px);
  left: calc(100% - 2px);

  background: white;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.close svg {
  width: 90%;
  height: 90%;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
}
