
.profile_icon {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #213a67;

  .avatar {
    cursor: pointer;
    width: 70px;
    height: 70px;
    border: 1px solid #282c34;
    border-radius: 50%;
    padding: 10px;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile_menu {
    width: 200px;
    //min-height: 350px;
    background: white;
    border-radius: 5px;
    border: 2px solid #282c34;
    padding: 5px 0 10px;

    position: absolute;
    top: 0;
    left: calc(100% + 20px);

    display: flex;
    flex-direction: column;

    .options {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;

      span {
        cursor: pointer;
        width: 100%;
        padding: 10px 10px;
        border-bottom: 1px solid #282c34;

        &:hover {
          background: rgba(40, 44, 52, 0.3);
          color: white;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      padding: 0 10px;

      button {
        width: 100%;
      }
    }
  }
}
