@import "src/assets/scss/constants";

.button {
  border-radius: 5px;
  border: 2px solid $blue_dark;
  background: $blue_dark;
  height: 44px;
  padding: 5px 20px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  color: azure;
  transition: 0.25s;

  &:hover {
    transition: 0.25s;
    background: azure;
    color: $blue_dark;
  }

  &:disabled {
    cursor: not-allowed;
    background: $gray;
    color: $gray_dark;
    border-color: $gray_dark;
  }
}
